absl-py @ file:///tmp/build/80754af9/absl-py_1607439979954/work
aiohttp @ file:///opt/concourse/worker/volumes/live/893742d6-dd9e-4693-6ad8-7402592041f5/volume/aiohttp_1607109646206/work
appnope==0.1.0
astroid==2.3.3
astunparse==1.6.3
async-timeout==3.0.1
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
backcall==0.1.0
blinker==1.4
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1607706694405/work
certifi==2020.12.5
cffi @ file:///opt/concourse/worker/volumes/live/730e9a28-66f9-4e03-51ad-252ec8e40d81/volume/cffi_1606255126408/work
chardet @ file:///opt/concourse/worker/volumes/live/a5a7c56b-23cb-471d-7404-f4130b8aed33/volume/chardet_1605303184529/work
chex==0.0.3
click==7.1.2
cloudpickle==1.2.2
cryptography @ file:///opt/concourse/worker/volumes/live/27753773-e292-4a76-405d-313f3647b99f/volume/cryptography_1607636767414/work
cycler==0.10.0
Cython==0.29.15
DateTime==4.3
decorator==4.4.2
dill==0.3.3
dm-haiku==0.0.4.dev0
dm-tree==0.1.5
entrypoints==0.3
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-auth @ file:///tmp/build/80754af9/google-auth_1607969906642/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1603929124518/work
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.34.0
gym==0.18.0
gym-tokens==0.0.2
h5py==2.10.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
ignite==1.1.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
importlib-resources==3.3.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
jax==0.2.7
jaxlib==0.1.57
jedi==0.16.0
joblib==0.14.1
jupyter-client==6.1.2
jupyter-core==4.6.3
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
loguru==0.5.3
Markdown @ file:///opt/concourse/worker/volumes/live/d973c1f8-4f6d-4b89-454c-f8d80fdde72c/volume/markdown_1605111084457/work
matplotlib==3.1.3
mccabe==0.6.1
mkl-fft==1.0.15
mkl-service==2.3.0
multidict @ file:///opt/concourse/worker/volumes/live/e3f0befa-3c1c-4f9f-44d5-8afffb1ee62a/volume/multidict_1600456413421/work
nibabel==3.2.1
nilearn==0.7.0
numpy==1.18.1
oauthlib==3.1.0
opt-einsum==3.3.0
optax==0.0.2
packaging==20.7
pandas==1.0.3
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
promise==2.3
prompt-toolkit==3.0.4
protobuf==3.14.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyglet==1.5.11
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.4.4
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.6
PySocks @ file:///opt/concourse/worker/volumes/live/85a5b906-0e08-41d9-6f59-084cee4e9492/volume/pysocks_1594394636991/work
python-dateutil==2.8.1
pytorch-ignite==0.4.2
pytz==2019.3
pyzmq==18.1.1
quadprog==0.1.7
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
rope==0.16.0
rsa @ file:///tmp/build/80754af9/rsa_1596998415516/work
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
six==1.14.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow-datasets==4.1.0
tensorflow-estimator==2.3.0
tensorflow-metadata==0.26.0
termcolor==1.1.0
tfrecord==1.11
toolz==0.11.1
torch==1.4.0
torchvision==0.5.0
tornado==6.0.4
tqdm==4.54.1
traitlets==4.3.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
urllib3==1.25.8
uuid==1.30
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.12.1
yarl @ file:///opt/concourse/worker/volumes/live/1ca49bfe-d6bc-4f62-4ca7-30c33d4f9b33/volume/yarl_1598045187281/work
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
zope.interface==4.7.1
